annotated-types==0.7.0
anyio==4.13.0
argcomplete==3.6.3
attrs==26.1.0
autocommand==2.2.2
beautifulsoup4==4.14.3
blinker==1.9.0
Brlapi==0.8.8
cattrs==26.1.0
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
ConfigArgParse==1.7.5
contourpy==1.3.3
cryptography==48.0.0
cst-lsp==0.1.3
cycler==0.12.1
dasbus==1.7
dbus-python==1.4.0
defusedxml==0.7.1
distro==1.9.0
dotenv==0.9.9
elevenlabs==2.51.0
evdev==1.9.3
filelock==3.29.0
Flask==3.1.3
fonttools==4.63.0
gps==3.27.5
gTTS==2.5.4
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
hyprland-config==0.4.5
hyprland-monitors==0.5.0
hyprland-schema==0.4.0
hyprland-socket==0.10.0
hyprland-state==0.2.1
hyprmod==0.2.0
idna==3.15
itsdangerous==2.2.0
jaraco.collections==5.1.0
jaraco.context==6.1.3.dev0+g098f39c91.d20260403
jaraco.functools==4.1.0
jaraco.text==4.0.0
Jinja2==3.1.6
jiter==0.15.0
kiwisolver==1.5.0
libcst==1.8.6
libevdev==0.13.1
louis==3.37.0
lsprotocol==2023.0.1
lxml==6.1.1
Mako==1.3.11.dev0
Markdown==3.10.2
MarkupSafe==3.0.3
matplotlib==3.10.9
moddb==0.14.0
more-itertools==11.0.2
netsnmp-python==1.0a1
nftables==0.1
notify2==0.3.1
numpy==2.4.6
openai==2.29.0
packaging==26.2
pandas==2.3.3
pillow==12.2.0
pipx==1.12.0
pkg_resources==81.0.0
platformdirs==4.9.6
psutil==7.2.2
pwquality==1.4.5
pycairo==1.29.0
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
pygls==1.3.1
PyGObject==3.56.3
pyparsing==3.3.2
pypdf==6.12.0
python-dateutil==2.9.0
python-dotenv==1.2.2
pyttsx3==2.99
pytz==2026.1
pyudev==0.24.4
pyxdg==0.28
PyYAML==6.0.3
ranger-fm==1.9.4
Reflector==2023.6.28.0.36.1
requests==2.34.2
rofimoji==6.7.0
setproctitle==1.3.7
setuptools==82.0.1
six==1.17.0
sniffio==1.3.1
soupsieve==2.8.3
speedtest-cli==2.1.3
systemd-python==235
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
userpath==1.9.2
VapourSynth==75
websockets==16.0
Werkzeug==3.1.8
wheel==0.47.0
